*{
    background-color: #fafafa ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(2,37,78,1) 0%, rgba(4,56,126,1) 19.7%, rgba(85,245,221,1) 100.2% );
    height: 100vh;
    padding:0;
    margin:0;
}.row{
    background-image: radial-gradient( circle farthest-corner at -5.7% -16.7%,  rgba(0,249,243,1) 0%, rgba(14,113,159,1) 90% );
}